<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success"[disabled]="!recipeForm.valid" style="margin-left: 100px;" type="submit">Save</button>
                    <button class="btn btn-danger"style="margin-left: 10px;" type="button" (click)="onClick()" >Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" id="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input type="text" formControlName="imagePath" id="imagePath" class="form-control" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" width="200px" height="100px" alt="image"
                        class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" formControlName="description" rows="6"
                            class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="row" formArrayName="ingredients">
                <label for="ingredients">Ingredients</label>
                <div *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i" class="col-xs-12" style="margin-top: 10px;">
                  <div class="row">
                    <div class="col-sm-5 form-group">
                      <input type="text" class="form-control" formControlName="name" id="name">
                    </div>
                    <div class="col-sm-5 form-group">
                      <input type="number" class="form-control" formControlName="amount" id="amount">
                    </div>
                    <div class="col-sm-2 form-group">
                      <button type="button" class="btn btn-danger" (click)="onDeleteIngredients(i)">X</button>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sx-12" style="margin-top: 10px;">
                        <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
                    </div>
                </div>
              </div>              
        </form>
    </div>
</div>