
<div>
    <a style="cursor: pointer;color:darkgray" class="list-group-item" routerLinkActive="active" >
        <div class="row">
        <div class="col-md-6">
            <h4 class="list-group-item-heading"> <ngx-skeleton-loader [theme]="{height: '18px','border-radius': '10px', background: 'darkgray'}" count="1" appearance="line"></ngx-skeleton-loader></h4>
            <p class="list-group-item-text"> <ngx-skeleton-loader [theme]="{height: '12px','border-radius': '10px', background: 'darkgray'}" count="1" width="0.5px" appearance="line"></ngx-skeleton-loader></p>
        </div>
        <div class="col-md-6">
            <ngx-skeleton-loader [theme]="{ 
                'border-radius': '10px',
                height: '55px',
                width:'100px',
                'background-color': 'darkgray',
                border: 'darkgray',
              }" count="1" ></ngx-skeleton-loader>
        </div>
    </div>
    </a>
</div>
